body {
    background-color: rgba(70, 0, 136, 0.438);
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: solid;
}

a:visited {
    color: black;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 3px;
    position: relative;
    margin: auto;
    border: 2px solid black;
}

.table2 {
    margin: auto;
    vertical-align: middle;
}

tr {
    display: table-row;
    border-collapse: separate;
    vertical-align: middle;
}

tr:nth-child(odd) {
    background-color: darkmagenta;
}

tr:nth-child(even) {
    background-color: darkviolet;
}
th {
    display: table-cell;
    text-align: center;
    background-color: rgb(95, 28, 129);
}

td {
    display: table-cell;
    border-collapse: separate;
    text-align: center;
}
.punch {
    height: 300px;
    width: 300px;
    object-fit: none;
}

.tab-data {
    display: table;
    text-align: center;
    margin: 0 auto;
    list-style-position: outside;
}

.tab-data li {
    text-align: left;
}

figcaption {
    text-align: center;
    font-style: italic;
}

figure {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid purple;
    height: 400px;
    width: 400px;
    margin: 20px auto;
}

fieldset {
    border: 2px solid purple;
    margin-bottom: 2px;
}

input {
    background-color: purple;
    border: 3px solid black;
    color: violet;
}

::placeholder {
    color: violet;
}
