html {
    font-size: 125%;
}
body {
    background-color: #c38ce0;
    text-align: center;
    color: #564154;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: rgb(100, 4, 100);
    text-decoration: none;
}

a:hover {
    color: #F5F5F5;
    text-decoration: solid;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 3px;
    position: relative;
    margin: auto;
    border: 2px solid black;
    color: rgb(244, 183, 247);
}

fieldset {
    border: 2px solid purple;
    margin-bottom: 2px;
    border: solid black 2px;
}

input {
    background-color: purple;
    color: violet;
    border: solid black 2px;
}

textarea {
    background-color: purple;
    color: violet;
    border: solid black 2px;
}

button {    
    background-color: purple;
    color: rgb(244, 183, 247);
    border: solid black 2px;
}

select {
    background-color: purple;
    color: violet;
    border: solid black 2px;
}

.table2 {
    margin: auto;
    vertical-align: middle;
}

tr {
    display: table-row;
    border-collapse: separate;
    vertical-align: middle;
}

tr:nth-child(odd) {
    background-color: darkmagenta;
}

tr:nth-child(even) {
    background-color: darkviolet;
}
th {
    display: table-cell;
    text-align: center;
    background-color: rgb(95, 28, 129);
}

td {
    display: table-cell;
    border-collapse: separate;
    text-align: center;
}
.punch {
    height: 300px;
    width: 300px;
    object-fit: none;
}

.tab-data {
    display: table;
    text-align: center;
    margin: 0 auto;
    list-style-position: outside;
}

.tab-data li {
    text-align: left;
}

figcaption {
    text-align: center;
    font-style: italic;
}

figure {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form {
    display: flex;
    padding: 20px;
    flex-direction: column;
    border: 5px solid purple;
    width: 420px;
    margin: 20px auto;
}

.form-caption {
    text-align: center;
}

::placeholder {
    color: violet;
}

.scripts-div {
    padding: 20px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid purple;
    margin: 20px auto;
    width: 420px;
}
.scripts-div h4 {
    padding: 0;
    margin: 10px;
}

.byo-form {
    padding: 20px;
    flex-direction: column;
    border: 5px solid purple;
    width: 520px;
    margin: 20px auto;
}

.no-css {
    position: absolute; 
    top: 0; 
    right: 0;
}

.calculator { 
    background-color: violet;
    padding: 20px;
    border: 5px solid purple;
    margin: 20px auto;
    width: 265px;
}

.calc-btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border: solid black 2px;
    border-radius: 5px;
    background-color: purple;
    cursor: pointer;
}

#display {
    width: 95%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
}

.calc-btn.equal{
    background-color: #f0f0f0;
    width: 250px;
}

.array-btn {
    margin: 5px;
    font-size: 20px;
    border: solid black 2px;
    border-radius: 5px;
    background-color: purple;
    cursor: pointer;
}

.projoverview {
    display: flex;
    padding: 20px;
    flex-direction: column;
    border: 5px solid purple;
    width: 700px;
    margin: 20px auto;
}

.small {
    font-size: 1rem;
}

    /* Rule Overrides For Laptops / Small Screens */

@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    main { 
        width: 90%;
        margin: 0 auto;
        max-width: 1200px;
    }
}

    /* Rule Overrides For Tablet Devices */

@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    main { 
        width: 80%;
        margin: 0 auto;
        max-width: 800px;
        font-size: 110%;
    }
        
}

    /* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    main {     
        width: 70%;    
        margin: 0 auto;
        max-width: 600px;
        font-size: 120%;
    }
}
