html {
    font-size: 125%;
}
body {
    background-color: #c38ce0;
    color: #564154;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

a {
    color: rgb(100, 4, 100);
    text-decoration: none;
}

a:hover {
    color: #F5F5F5;
    text-decoration: solid;
}

main {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 3px;
    color: rgb(244, 183, 247);
    margin: auto;
    position: relative;
}

fieldset {
    border: solid purple 2px;
    margin-bottom: 2px;
}

input {
    background-color: purple;
    border: solid black 2px;
    color: violet;
}

textarea {
    background-color: purple;
    border: solid black 2px;
    color: violet;
}

button {    
    background-color: purple;
    border: solid black 2px;
    color: rgb(244, 183, 247);
}

select {
    background-color: purple;
    border: solid black 2px;
    color: violet;
}

.table2 {
    margin: auto;
    vertical-align: middle;
}

tr {
    border-collapse: separate;
    display: table-row;
    vertical-align: middle;
}

tr:nth-child(odd) {
    background-color: darkmagenta;
}

tr:nth-child(even) {
    background-color: darkviolet;
}
th {
    background-color: rgb(95, 28, 129);
    display: table-cell;
    text-align: center;
}

td {
    border-collapse: separate;
    display: table-cell;
    text-align: center;
}
.punch {
    height: 300px;
    object-fit: none;
    width: 300px;
}

.tab-data {
    display: table;
    list-style-position: outside;
    margin: 0 auto;
    text-align: center;
}

.tab-data li {
    text-align: left;
}

figcaption {
    font-style: italic;
    text-align: center;
}

figure {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.form {
    border: 5px solid purple;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
}

.form-caption {
    text-align: center;
}

::placeholder {
    color: violet;
}

.scripts-div {
    align-items: center;
    border: 5px solid purple;
    display: block;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
}

.byo-form {
    border: 5px solid purple;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
}

.no-css {
    position: absolute; 
    right: 0;
    top: 0; 
}

.calculator { 
    background-color: violet;
    border: 5px solid purple;
    margin: 20px auto;
    padding: 20px;
    width: 265px;
}

.calculator_display {
    background-color: purple;
    border: solid black 2px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    padding: .5em .5em;
    text-align: right;
}

.calculator_keys {
    display: flex;
    flex-wrap: wrap;
}

.calculator_keys > * {
    flex: 1 0 20%;
    background-color: purple;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    margin: 5px;
    position: relative;
    width: 50px;
}

.equal{
    background-color: #f0f0f0;
    color: purple;
    grid-column: -2;
    grid-row: 2 / span 4;
}

.array-btn {
    background-color: purple;
    border: solid black 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
}

.projoverview {
    border: 5px solid purple;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
}

.small {
    font-size: 1rem;
}

.eclipse {
    height: 300px;
}

.container {
    position: relative;
}

.mySlides {
    display: none;
}

.prev,
.next {
    color: violet;
    cursor: pointer;
    font-size: 30px;
    margin-top: -50px;
    padding: 16px;
    position: absolute;
    top: 40%;
    width: auto;
}

.text {
    background-color: #00000080;
    color: #f2f2f2;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}



/* Position the "next button" to the right */
.next {
  right: 0;
}


    /* Rule Overrides For Laptops / Small Screens */

@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    main { 
        margin: 0 auto;
        max-width: 1200px;
        width: 90%;
    }
}

    /* Rule Overrides For Tablet Devices */

@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    main { 
        font-size: 110%;
        margin: 0 auto;
        max-width: 800px;
        width: 80%;
    }
        
}

    /* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    main {    
        font-size: 120%; 
        margin: 0 auto;
        max-width: 600px;
        width: 70%;    
    }
}
