html {
    font-size: 125%;
}
body {
    background-color: #AC9FBB;
    color: #1D1E2C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #59656F;
    text-decoration: solid;
}

main {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
}   

nav ul li {
    display: inline;
    margin: 1rem auto;
}   

nav ul li a {
    color: #f7f5f4;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #362141;
}

nav ul li a:hover {
    background-color: #15161a;
}

ol {
    text-align: left;
    margin: 1rem;
}

ol li {
    font-weight: bold;
}

.hidden {
    display: none;
}

.blog-title {
  cursor: pointer;
  color: #362141; /* your theme purple */
  margin-bottom: 0.5rem;
}

.blog-title:hover {
  text-decoration: underline;
}