<header>
    <h1>Efren Antonio's Ecstatic Alligator &#128570; ITIS 3135 </h1>
    <h4><em>Cat-Approved Treats and Toys!</em></h4>
    <nav>
        <a href="./">Home</a>
        &#128570;
        <a href="introduction.html">Introduction</a>
        &#128570;
        <a href="contract.html">Contract</a>
        &#128570;
        <a href="tables.html">Tables</a>
        &#128570;
        <a href="forms.html">Form</a>
        &#128570;
        <a href="website_evaluations.html">Website Evaluations</a>
        &#128570;
        <a href="firstscripts.html">First Scripts</a>
        &#128570;
        <a href="about.html">About</a>
        &#128570;
        <a href="byo_intro.html">BYO Intro</a>
        &#128570;
        <a href="calculator_try.html">Calculator</a>
        &#128570;
        <a href="project_overview.html">Project Overview</a>
        &#128570;
        <a href="arrays.html">Arrays</a>
    </nav>
    <nav>
        &#128570;
        <a href="stuff/CatZ & CarZ.htm">CRAPPY</a>
        &#128570;
        <a href="hobby/index.html">Hobby</a>
        &#128570;
        <button type="button" class="no-css" onclick="document.querySelectorAll('link[rel=stylesheet]').forEach(function(e){e.setAttribute('href', '');});">No CSS</button>
    </nav>
</header>