<header>
    <h1>Efren Antonio's Ecstatic Alligator &#128570; ITIS 3135 </h1>
    <nav>
        <a href="./">Home</a>
        &#128570;
        <a href="introduction.html">Introduction</a>
        &#128570;
        <a href="contract.html">Contract</a>
        &#128570;
        <a href="tables.html">Tables</a>
        &#128570;
        <a href="forms.html">Form</a>
        &#128570;
        <a href="website_evaluations.html">Website Evaluations</a>
        &#128570;
        <a href="firstscripts.html">First Scripts</a>
    </nav>
    <nav>
        &#128570;
        <a href="stuff/CatZ & CarZ.htm">CRAPPY</a>
        &#128570;
    </nav>
</header>